html {
  height: 100%;
  box-sizing: border-box;
}
body{

	background: url('../images/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;

	position: relative;
	padding-bottom: 70px;
	min-height: 100%;
	padding-top: 90px;
	
	color: #FFF;
	font-family: 'Arial';
	font-size: 14px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle;
}
.customNavBar .navbar-brand{
	height: auto;
	padding: 25px 15px;
}
.customNavBar{
	background: #000;
	background: rgba(0,0,0,0.8);
	border: 0px;
}
.heading{
	font-size: 36px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 120px;
	line-height: 60px;
}
.customNavBar .navbar-nav li{
	margin: 14px 5px 13px;
}
.customNavBar .navbar-nav li a{
	color: #FFF;
	border-bottom: 2px solid transparent;
	padding: 10px 15px;
}
.customNavBar .navbar-nav li > a:hover,.customNavBar .navbar-nav li > a:focus, .customNavBar .navbar-nav li.active > a, .customNavBar .navbar-nav li.active > a:hover,.customNavBar .navbar-nav li.active > a:focus{
	color: #FFF;
	border-bottom-color: #FFF; 
	background: none !important;
}
footer{
	background: #141414;
	font-size: 15px;
	color: #FFF;
	padding: 18px 0px;
}
@media screen and (min-width:1024px){
	footer{
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}